
@{
    Layout = "_Layout";
    ViewData["Title"] = "About Us";
}


<h1 class="h1">About Us Page Of Online Medicine Store</h1>
<h2>It is Online Medicine Store and User can View All diffrent kind of Medicines and Buy any of the as per their need . It hassle-free Web Application which is convinient to All User . Cart option is also provided. Moreover it is developed by Vedant Rajyaguru[CE109] and Utsav Raychura[CE112].  </h2>
