@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{   Layout = "_Layout";
}

<section id="contact">
    <div class="container">


        <div class="row">
            <div class="col-md-7">
                <div class="well well-sm">
                    <h3><strong>Contact Us</strong></h3>
                </div>
                <div class=" embed-responsive embed-responsive-21by9">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2747.1615530726963!2d72.15735956922053!3d21.739243518367378!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395f5a109f947cab%3A0x62221442a711907c!2zMjHCsDQ0JzE3LjciTiA3MsKwMDknMjguMiJF!5e0!3m2!1sen!2sin!4v1599414424706!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
            </div>

            <div class="col-md-5">
                <h4><strong>Get in Touch</strong></h4>
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" name="" value="" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" name="" value="" placeholder="E-mail">
                    </div>
                    <div class="form-group">
                        <input type="tel" class="form-control" name="" value="" placeholder="Phone">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" name="" rows="3" placeholder="Message"></textarea>
                    </div>
                    <button class="btn btn-success" type="submit" name="button">
                        <i class="fa fa-paper-plane-o" aria-hidden="true"></i> Submit
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>
<br>
<br>
