@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Home";
}

<h1 class="h1 text-center">Welcome Admin !</h1>

<img src="/images/bg.jpg" style="height: 50%;

        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;" />
